.our-story {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__img {
    width: 48%;
    height: 660px;
    object-fit: cover;
    object-position: -82px;
  }
  &__content {
    width: 46%;
  }
}