.cookie-banner {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background: #0d0e19;
  padding: 15px;
  display: flex;
  align-items: center;

  p {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    padding: 0 15px 0 0;
  }

  button {
    border: none;
    background: #616161;
    color: #fff;
    font-size: 14px;
  }

}