.quote {
  q {
    color: #ececec;
    font-size: 48px;
    line-height: 68px;
    text-align: center;
    display: block;
    font-family: "Proxima Nova Rg";
    font-style: italic;
  }

  h5 {
    display: block;
    color: #ececec;
    margin: 20px auto;
    text-align: center;
  }

}