.hero {
    background: #fff;

    &__wrapper {
        max-width: 940px;
        margin: 0 auto;
    }

    &--home {
        min-height: calc(100vh + 77.7px);
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-bottom: 5vw;

        .hero {
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 940px; // to delete

                &__content {
                    transition: all 0.4s;
                    max-width: 400px;
                    h1 {
                        font-size: 68px;
                    }

                    .Typist {
                        font-size: 30px;
                        font-family: "Rubik";
                        line-height: 40px;
                        margin: 10px auto 20px;
                        max-width: 100%;
                        color: #ff6952;
                      }

                    h3 {
                        font-size: 20px;
                        line-height: 27px;
                        font-family: 'Rubik';
                        font-weight: 300;
                    }
                }

                &__art {
                    transition: all 0.4s 0.3s;
                    width: 50%;
                }
            }
        }
    }

    &--normal {
        padding-top: 79px;
        padding-bottom: 4vw;
        .hero__wrapper {
            height: 100%;
            padding: 100px 25px;

            &__fox {
                position: absolute;
                right: -140px;
                top: 13%;
                img {
                    height: 370px;
                    opacity: 0.3;
                }
            }

            &__content {
                h1 {
                    margin-bottom: 0px;
                }

                h5 {
                    color: #ff6952;
                    letter-spacing: 3px;
                    font-size: 22px;
                    font-family: "Proxima Nova Rg";
                    font-weight: 900;
                    margin-bottom: 10px
                }

                p {
                    width: 590px;
                    font-weight: 900;
                    font-size: 20px;
                    color: grey;
                    font-family: "Proxima Nova Rg";
                }
            }
        }
    }

}