.hero {
    position: relative;
    background: #fff;

    &__wrapper {
        max-width: 940px;
        margin: 0 auto;
    }

    &--home {
        min-height: calc(90vh + 77.7px);
        display: flex;
        flex-flow: column;
        justify-content: center;

        .hero {
            &__wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 940px; // to delete

                &__content {
                    transition: all 0.4s;
                    max-width: 400px;
                    h1 {
                        font-size: 49px;
                        margin-bottom: 0;
                    }

                    .Typist {
                        font-size: 30px;
                        font-family: "Rubik";
                        line-height: 40px;
                        margin: 10px auto 20px;
                        max-width: 100%;
                        min-height: 80px;
                        color: #ff6952;
                      }

                    h3 {
                        font-size: 20px;
                        line-height: 27px;
                        font-family: 'Rubik';
                        font-weight: 300;
                    }
                }

                &__art {
                    transition: all 0.4s 0.3s;
                    width: 50%;
                }
            }
        }
    }

    &--normal {
        padding-top: 79px;
        padding-bottom: 50px;
        .hero__wrapper {
            height: 100%;
            padding: 50px 25px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1080px;

            &__fox {
                position: relative;
                width: 35%;
                img {
                    position: relative;
                }
            }

            &__content {
                max-width: 580px;
                h1 {
                    margin-bottom: 30px;
                    font-size: 38px;
                    max-width: 670px;
                }

                h5 {
                    color: #ff6952;
                    letter-spacing: 3px;
                    font-size: 22px;
                    font-family: "Proxima Nova Rg";
                    font-weight: 900;
                    margin-bottom: 10px
                }

                p {
                    width: 590px;
                    font-size: 20px;
                    color: #333;
                    font-family: "Rubik";
                }
            }
        }
    }
    
    &--d-blue {
        background: #1a1c38;
        h1 {
            color: #fff;
        }
    }
}