.col {
  flex-basis: 27%;
  margin: 30px 0;

  @media (max-width: 768px) {
    flex-basis: 100%;
    max-width: 400px;
    margin: 30px auto;
  }

  h4 {
    margin-bottom: 10px;
    color: #ff6952;
    font-size: 22px;
  }

  &--cta,
  &--2 {
    flex-basis: 50%;
  }
}